@model IEnumerable<La_tiendita.Models.DetalleVenta>

@{
    ViewBag.Title = "Index";
}

<h2>Detalle de Ventas</h2>

<p>
    @Html.ActionLink("Agregar", "Insertar", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.produtco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ventas.Id_venta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.produtco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ventas.Id_venta)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Modificar", new { id = item.Id_detalle }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id_detalle }, new { miatributo = "valor1", @class = "btn btn-danger", onclick = "return confirm('¿Estas seguro de eliminar este registro?');" }) |
        </td>
    </tr>
}

</table>
