@model IEnumerable<La_tiendita.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar", "Insertar", null, new { @class = "btn btn-info" })
</p>
<br />

<div class="form-inline my-2 my-lg-0">
    @using (Html.BeginForm("Buscar", "Home", FormMethod.Post))
    {


        <input class="form-control mr-sm-2" name="valor" type="search" placeholder="Search" aria-label="Search">
        <input type="submit" value="Buscar" class="btn btn-outline-success my-2 my-sm-0" />
    }
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.produtco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_caducidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existencia_de_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.categoria)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.produtco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion_producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_caducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.existencia_de_producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.categoria)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Modificar", new { id = item.Id_producto }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id_producto }, new { miatributo = "valor1", @class = "btn btn-danger", onclick = "return confirm('¿Estas seguro de eliminar este registro?');" }) |
            </td>
        </tr>
    }

</table>

@if (TempData["mensaje"] != null)
{

    <div class="alert alert-success" role="alert">
        @TempData["mensaje"]
    </div>

}
